@using PayItForward.Models;

@{
    ViewBag.Title = "Productos";
}

<head>
    <script>
        function Hijas(cat, nom) {
            $.ajax({
                url: '@Url.Action("TraerHijas", "Crear_Publicacion")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ idPadre: cat }),
                success: function (cates) {
                    var thtml = '';
                    var obj = JSON.parse(cates);
                    if (obj.length == 0) {
                        //si trae vacio el JSON con las categorias hijas, mando al usuario a proxima view (DescripcionPublicacion) con la categoria seleccionada
                        Final(cat);
                    } else {
                        for (var i = 0; i < obj.length; i++) {
                            var cate = obj[i];
                            thtml += "<li value='" + cate.IdCategoria + "' onclick = 'Final(" + cate.IdCategoria + ",\"" + cate.Nombre + "\");' >" + cate.Nombre + "</li>";
                        }
                        $("#categorias").html(thtml)
                        $("#seguimiento").append(" > " + nom);
                    }
                },
                error: function () {
                    alert("Ha ocurrido un error");
                }
            });
        }
        function Final(cat) {
            $.ajax({
                url: '@Url.Action("DescripcionPublicacion", "Crear_Publicacion")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ IdCategoria: cat }),
                success: function () { },
                error: function () { }
            });
        }
    </script>
    <style>
        li {
            padding: 10px 5px 10px;
            cursor: pointer;
        }

            li :hover {
                background-color: lightslategray;
            }

        hr {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

<body style="margin-top: -30px">
    <div style="background-color: white">
        <div style="margin-left: 10px; margin-top: 5px; padding-bottom: 10px">
            <p style="font-size: 20px; margin-bottom: 5px">Elegi la categoria</p>
            <p style="font-size: 15px; margin-bottom: 0px; margin-top: 0px">Navega las categorias en el listado y elige una</p>
            <br />
            <p id="seguimiento" style="font-size: 15px; margin-bottom: 0px; margin-top: 0px">Inicio</p>
        </div>
    </div>
    <hr style="margin: 0px">
    <div style="background-color: white">
        <ul style="list-style:none; padding: 20px 10px 20px; margin: 0; padding-top: 10px; padding-bottom: 10px" id="categorias">
            @foreach (Categorias X in ViewBag.CategoriasHijas)
            {
                <li value="@X.IdCategoria" onclick="Hijas(@X.IdCategoria, '@X.Nombre');">
                    @X.Nombre
                </li>
            }
        </ul>
    </div>
</body>