@using PayItForward.Models;

@{
    ViewBag.Title = "Productos";
}

<head>
    <!--HACER jquery para Final();-->
    <script>
        function Final(cat) {
            $.ajax({
                    url: '@Url.Action("TraerHijas", "Crear_Publicacion")',
                    type: "post",
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ Id: cat }),
                    success: function (data) {
                        var listaHijas = @Html.Raw(Json.Encode(Model));
                        $("#categorias").append("<div>...");
                    },
                    error: function () {
                        alert("Ha ocurrido un error");
                    }
                });
        }
    </script>
</head>

<body>
    <!--DIV CENTRADO-->
    <div id="categorias">
        <!--LISTA: subcategoria 1-->
        <form action="@Url.Action("DescripcionPublicacion", "Crear_Publicacion")">
            <div>
                <select name="IdCategoria">
                    @foreach (Categorias X in ViewBag.CategoriasHijas)
                    {
                        <option value="@X.IdCategoria" onclick="Final(@X.IdCategoria);">
                            @X.Nombre
                        </option>
                    }
                </select>
            </div>

            <input type="submit" value="fin" />
        </form>
    </div>
</body>