@using PayItForward.Models
@model Publicacion
@{
    ViewBag.Title = "DescripcionPublicacion";
}


<head>
    @*
        <script src="~/Content/Tables_style/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script>
            function Validar() {
                var valor = $('#Valor').val();
                var titulo = $('#Titulo').val();
                var descripcion = $('#Descripcion').val();
                var ubicacion = $('#Ubicacion').val();

                var bool = true;

                if (valor == '') {
                    $('#error_valor').html("*");
                    bool = false;
                } else {
                    $('#error_valor').html("");
                    bool = true;
                }

                if (titulo == '') {
                    $('#error_titulo').html("*");
                    bool = false;
                } else {
                    $('#error_titulo').html("");
                    bool = true;
                }

                if (descripcion == '') {
                    $('#error_descripcion').html("*");
                    bool = false;
                } else {
                    $('#error_descripcion').html("");
                    bool = true;
                }

                if (ubicacion == '') {
                    $('#error_ubicacion').html("*");
                    bool = false;
                } else {
                    $('#error_ubicacion').html("");
                    bool = true;
                }

                if (bool == true) {
                    $('#formulario').submit;
                }
            }
        </script>
    *@
    <style>
        .validation {
            color: red;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <h2>DescripcionPublicacion</h2>
    <p>La categoria actual es @ViewBag.CategoriaActual</p>

    <!--MOSTRAR RECORRIDO DE CATEGORIAS-->
    <form method="post" action="@Url.Action("MostrarPublicacion", "Crear_Publicacion")" id="formulario">
        <p>Valor @Html.ValidationMessageFor(x=>x.Valor, null, new { @class = "validation" })</p> @Html.TextBoxFor(x => x.Valor, new { Type = "number" }) <br />
        <p>Titulo @Html.ValidationMessageFor(x=>x.Titulo, null, new { @class = "validation" })</p> @Html.TextBoxFor(x => x.Titulo) <br />
        <p>Descripcion @Html.ValidationMessageFor(x=>x.Descripcion, null, new { @class = "validation" })</p> @Html.TextBoxFor(x => x.Descripcion) <br />
        <p>Ubicacion @Html.ValidationMessageFor(x=>x.Ubicacion, null, new { @class = "validation" })</p> @Html.TextBoxFor(x => x.Ubicacion) <br />

        <input type="hidden" value="@ViewBag.CategoriaActual" name="IdCategoria" />

        <input type="submit" value="Continuar" />
    </form>
</body>
