@using PayItForward.Models
@model Publicacion
@{
    ViewBag.Title = "DescripcionPublicacion";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
        .validation {
            color: red;
            font-size: 18px;
        }

        .inputDetalles {
            margin-right: 0px;
            margin-left: 25px;
            margin-bottom: -20px;
            width: 100%;
        }

        .labelDetalles {
            margin-left: 25px;
        }

        label {
            font-weight: normal !important;
        }

        input[type=submit] {
            margin-left: 25px;
            margin-bottom: 25px;
            background-color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 5px;
            border-color: grey;
        }
    </style>
    <script>
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#showimg1').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file1").change(function () {
            readURL(this);
        });

        function readURL2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#showimg2').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file2").change(function () {
            readURL(this);
        });

        function readURL3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#showimg3').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file3").change(function () {
            readURL(this);
        });
    </script>
</head>
<body>
    <div style="background-color:white">
        <b>Seleccion de categoria</b> > Editar publicacion
        <ol class="progress">
            <li class="is-active" data-step="1">
                Seleccion de categoria
            </li>
            <li data-step="2">
                Editar publicacion
            </li>
        </ol>
    </div>
    <hr />
    <div style="background-color:white">
        <p>La categoria actual es @ViewBag.CategoriaActual</p> <!--CAMBIAR POR EL RECORRIDO DE LAS CATEGORIAS-->

        <hr />

        <div style="background-color: white">
            <div style="margin-left: 10px; margin-top: 5px; padding-bottom: 10px">
                <p style="font-size: 20px; margin-bottom: 5px">Publicacion</p>
                <p style="font-size: 15px; margin-bottom: 0px; margin-top: 0px">Describi los detalles de tu producto/servicio</p>
                <br />
            </div>
        </div>

        <form method="post" action="@Url.Action("MostrarPublicacion", "Crear_Publicacion")" id="formulario">
            <div style="display:inline-block">
                <img id="showimg1" src="#" alt="your image" />
                @Html.TextBoxFor(x => x.Imagen1, new { type = "file", Name = "file1", id = "file1", Style = "float:left" })

                <img id="showimg2" src="#" alt="your image" />
                @Html.TextBoxFor(x => x.Imagen2, new { type = "file", Name = "file2", id = "file2", Style = "display:none;float:left" })

                <img id="showimg3" src="#" alt="your image" />
                @Html.TextBoxFor(x => x.Imagen3, new { type = "file", Name = "file3", id = "file3", Style = "display:none;float:left" })
            </div>
            <label for="file">Imagenes</label>

            @Html.TextBoxFor(x => x.Valor, new { Type = "number", Class = "w3-input inputDetalles", Name = "Valor" }) <br />
            <label class="labelDetalles" for="Valor">Valor @Html.ValidationMessageFor(x => x.Valor, null, new { @class = "validation" })</label>

            @Html.TextBoxFor(x => x.Titulo, new { Class = "w3-input inputDetalles", Name = "Titulo" }) <br />
            <label class="labelDetalles" for="Titulo">Titulo @Html.ValidationMessageFor(x => x.Titulo, null, new { @class = "validation" })</label>

            @Html.TextBoxFor(x => x.Descripcion, new { Class = "w3-input inputDetalles", Name = "Descripcion" }) <br />
            <label class="labelDetalles" , for="Descripcion">Descripcion @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "validation" })</label>

            @Html.TextBoxFor(x => x.Ubicacion, new { Class = "w3-input inputDetalles", Name = "Ubicacion" }) <br />
            <label class="labelDetalles" for="Ubicacion">Ubicacion @Html.ValidationMessageFor(x => x.Ubicacion, null, new { @class = "validation" })</label>

            <input type="hidden" value="@ViewBag.CategoriaActual" name="IdCategoria" />
            <br /><br /><br />

            <input type="submit" value="Continuar" />
        </form>
    </div>
</body>