<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: Sansation_Regular;
        }
        
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: Raleway;
            background-color: #ecf0f1;
        }

        .copyright {
            position: absolute;
            bottom: 0;
        }

            .copyright a {
                text-decoration: none;
                color: #16a085;
            }

                .copyright a:hover {
                    text-decoration: underline;
                }

        .button {
            position: relative;
            padding: 1em 1.5em;
            border: none;
            background-color: transparent;
            cursor: pointer;
            outline: none;
        }

            .button.type1 {
                color: #566473;
            }

                .button.type1.type1::after, .button.type1.type1::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 20%;
                    height: 20%;
                    border: 2px solid;
                    transition: all 0.6s ease;
                    border-radius: 2px;
                }

                .button.type1.type1::after {
                    bottom: 0;
                    right: 0;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-bottom-color: #566473;
                    border-right-color: #566473;
                }

                .button.type1.type1::before {
                    top: 0;
                    left: 0;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    border-top-color: #566473;
                    border-left-color: #566473;
                }

                .button.type1.type1:hover:after, .button.type1.type1:hover:before {
                    width: 100%;
                    height: 100%;
                }
    </style>
</head>
<body style="background-color:#0090ff;margin-top:42px">
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="@Url.Action("Index", "Home")" class="w3-bar-item"><img src="~/Content/Header/LogoConTitle.png" style="height:60px" /></a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small" style="cursor:default">
                <br />
                <a style="text-decoration:none;margin-right:10px" href="" class="w3-bar-item w3-button button type1">Crear una cuenta</a>
                <a style="text-decoration:none" href="" class="w3-bar-item w3-button button type1">Ingresar</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        *@

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
