@using PayItForward.Models
@model Publicacion

@{
    ViewBag.Title = "BMPulicacion";
}

<h2>BMPulicacion</h2>
@if (ViewBag.Accion == "Modificar")
{
    <p>IdPublicacion:</p>@Html.TextBoxFor(x => x.IdPublicacion) <br />
    <p>Titulo:</p> @Html.TextBoxFor(x => x.Titulo) <br />
    <p>IdCategoria:</p> @Html.TextBoxFor(x => x.IdCategoria) <br />
    <p>IdUsuario:</p> @Html.TextBoxFor(x => x.IdUsuario) <br />
    <p>Aprobada:</p> @Html.TextBoxFor(x => x.Aprobada) <br />
    <p>Valor:</p> @Html.TextBoxFor(x => x.Valor) <br />
    <p>>Desc:</p> @Html.TextBoxFor(x => x.Descripcion) <br />
    <p>Likes:</p> @Html.TextBoxFor(x => x.Likes) <br />
    <p>Ubicacion:</p> @Html.TextBoxFor(x => x.Ubicacion) <br />
}
else if (ViewBag.Accion == "Ver")
{
    <p>IdPublicacion:</p>@Html.TextBoxFor(x => x.IdPublicacion, new { disabled = "true" }) <br />
    <p>Titulo:</p> @Html.TextBoxFor(x => x.Titulo, new { disabled = "true" }) <br />
    <p>IdCategoria:</p> @Html.TextBoxFor(x => x.IdCategoria, new { disabled = "true" }) <br />
    <p>IdUsuario:</p> @Html.TextBoxFor(x => x.IdUsuario, new { disabled = "true" }) <br />
    <p>Aprobada:</p> @Html.TextBoxFor(x => x.Aprobada, new { disabled = "true" }) <br />
    <p>Valor:</p> @Html.TextBoxFor(x => x.Valor, new { disabled = "true" }) <br />
    <p>>Desc:</p> @Html.TextBoxFor(x => x.Descripcion, new { disabled = "true" }) <br />
    <p>Likes:</p> @Html.TextBoxFor(x => x.Likes, new { disabled = "true" }) <br />
    <p>Ubicacion:</p> @Html.TextBoxFor(x => x.Ubicacion, new { disabled = "true" }) <br />
}

