@using PayItForward.Models

@{
    ViewBag.Title = "VerPublicaciones";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Tables_style/css/main.css">

    <script>
        function Eliminar(id) {
            var retVal = confirm("Se eliminará la publicación seleccionada");
            if (retVal == true) {
                $.ajax({
                    url: '@Url.Action("BMPublicacion", "BMPublicaciones")',
                    type: "post",
                    dataType: "html",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ Accion: "Eliminar", Id: id }),
                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        alert("Ha ocurrido un error");
                    }
                });
            }
        }
    </script>

    <style>
        a {
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
    <div class="limiter" style="margin-top:200px">
        <div class="wrap-table100">
            <div class="table100 ver2 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1" style="color:#0090ff">Título</th>
                                <th class="cell100 column2" style="color:#0090ff">Categoría</th>
                                <th class="cell100 column3" style="color:#0090ff">Aprobado</th>
                                <th class="cell100 column4" style="color:#0090ff">Modificar</th>
                                <th class="cell100 column5" style="color:#0090ff">Eliminar</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            @foreach (Publicacion X in ViewBag.Lista)
                            {
                                <tr class="row100 body">
                                    <td class="cell100 column1" style="color:black"><a href="@Url.Action("BMPublicacion", "BMPublicaciones",new { Accion = "Ver", Id = X.IdPublicacion })"> <img src="~/Content/Tables_style/icons/ver.png" style="height:20px" /></a>@X.Titulo</td>
                                    <td class="cell100 column2" style="color:black;font-size:12px">
                                        @{
                                            Conexion MiCon = new Conexion();
                                            List<Categorias> Lista = MiCon.TraerCategoriaPadreDesdeCategoriaHija(X.IdCategoria, 0);
                                            for (int i = Lista.Count - 1; i >= 0; i--)
                                            {
                                                if (i == 0)
                                                {
                                                    @Html.Label(Lista[i].Nombre)
                                                }
                                                else
                                                {
                                                    @Html.Label(Lista[i].Nombre + ">")
                                                }
                                            }
                                        }
                                    </td>
                                    @if (X.Aprobada == true)
                                    {
                                        <td class="cell100 column3" style="color:lawngreen">Sí</td>
                                    }
                                    else
                                    {
                                        <td class="cell100 column3" style="color:red">No</td>
                                    }

                                    <td class="cell100 column4"><a href="@Url.Action("BMPublicacion", "BMPublicaciones", new { Accion = "Modificar", Id = X.IdPublicacion })"><img src="~/Content/Tables_style/icons/editar.png" style="height:20px" /></a></td>
                                    <td class="cell100 column5"><a onclick="Eliminar(@X.IdPublicacion);"><img src="~/Content/Tables_style/icons/eliminar.png" style="height:20px" /></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Tables_style/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Tables_style/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Tables_style/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Tables_style/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Tables_style/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <script src="~/Content/Tables_style/js/main.js"></script>
</body>
