@using PayItForward.Models
@model Usuarios

@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

@ViewBag.error;
<form action="@Url.Action("ValidarLogin", "Login")" method="post">
    @Html.TextBoxFor(x => x.Nombre, new { type = "text", Name = "Nombre", id = "Nombre" })
    @Html.ValidationMessageFor(x => x.Nombre, null, new { style = "color:red" })

    @Html.TextBoxFor(x => x.Apellido, new { type = "text", Name = "Apellido", id = "Apellido" })
    @Html.ValidationMessageFor(x => x.Apellido, null, new { style = "color:red" })

    @Html.TextBoxFor(x => x.Mail, new { type = "email", Name = "Mail", id = "Mail" })
    @Html.ValidationMessageFor(x => x.Mail, null, new { style = "color:red" })

    @Html.TextBoxFor(x => x.Contrasena, new { type = "password", Name = "Contrasena", id = "Contrasena" })
    @Html.ValidationMessageFor(x => x.Contrasena, null, new { style = "color:red" })

    <img src="~/Content/ImagenesUser/azul">
    @Html.TextBoxFor(x => x.IDimagen, new { type = "radio", Name = "IDimagen", id = "IDimagen", Value = "1" })
    <img src="~/Content/ImagenesUser/verde">
    @Html.TextBoxFor(x => x.IDimagen, new { type = "radio", Name = "IDimagen", id = "IDimagen", Value = "2" })
    <img src="~/Content/ImagenesUser/rojo">
    @Html.TextBoxFor(x => x.IDimagen, new { type = "radio", Name = "IDimagen", id = "IDimagen", Value = "3" })
    <input type="submit" value="Enviar" />

    Codigo de usuario especial: <input type="text" name="codigo" id="codigo" placeholder="Codigo" />
</form>
<a href="@Url.Action("Login", "Login")">¿Ya tenes usuario? Hacete alto login</a>
