@using PayItForward.Models
@model Usuarios

@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

@ViewBag.error;
@ViewBag.Mensaje;
<form action="@Url.Action("ValidarRegistro", "Login")" method="post">
    Nombre: @Html.TextBoxFor(x => x.Nombre, new { type = "text", Name = "Nombre", id = "Nombre", placeholder = "Nombre" }) 
    @Html.ValidationMessageFor(x => x.Nombre, null, new { style = "color:red" })<br />

    Apellido: @Html.TextBoxFor(x => x.Apellido, new { type = "text", Name = "Apellido", id = "Apellido", placeholder = "Apellido" })
    @Html.ValidationMessageFor(x => x.Apellido, null, new { style = "color:red" })<br />

    Mail: @Html.TextBoxFor(x => x.Mail, new { type = "email", Name = "Mail", id = "Mail", placeholder = "Mail" }) 
    @Html.ValidationMessageFor(x => x.Mail, null, new { style = "color:red" })<br />

    Contraseña: @Html.TextBoxFor(x => x.Contrasena, new { type = "password", Name = "Contrasena", id = "Contrasena", placeholder = "Contraseña" }) 
    @Html.ValidationMessageFor(x => x.Contrasena, null, new { style = "color:red" })<br />

    <img src="~/Content/ImagenesUser/azul.png" style="height:30px">
    @Html.TextBoxFor(x => x.IDimagen, new { type = "radio", Name = "IDimagen", id = "IDimagen", Value = "1", @checked = "checked"})
    <img src="~/Content/ImagenesUser/verde.png" style="height:30px">
    @Html.TextBoxFor(x => x.IDimagen, new { type = "radio", Name = "IDimagen", id = "IDimagen", Value = "2" })
    <img src="~/Content/ImagenesUser/rojo.png" style="height:30px">
    @Html.TextBoxFor(x => x.IDimagen, new { type = "radio", Name = "IDimagen", id = "IDimagen", Value = "3" }) <br /> <br />
    
    Codigo de usuario especial: <input type="text" name="codigo" id="codigo" placeholder="Codigo" /> <br /> <br />
    <input type="submit" value="Enviar" />
</form>
<a href="@Url.Action("Login", "Login")" style="color:black">¿Ya tenés usuario? Iniciá sesión</a>
